<%- include ('./../../partials/staffHeader') %>

<div class="fullScreen" id="editTimecard">
    <form action="/staff/logs" onsubmit="event.preventDefault(); seeTimecardFormValues('#popupTimecard');" method="POST">
        <h1>Edit timecard</h1>
        <hr>
        <form action="/">
            <h3 id="eventName"><%= eventName %></h3>
            <h3 id="userInfo"><%= session.originalTimecardData.userName + ' (' + fName + ' ' + lName + ')' %></h3>
            <var id="timecardId" style="display: none;"><%= session.originalTimecardData.id %></var>
            <br>
            <label for="timeIn">Timecard Time: </label><input type="datetime-local" name="timeIn" id="timeIn" value="<%= new Date(parseInt(session.originalTimecardData.timeIn) - (4* 1000 * 60 * 60)).toISOString('en-US').substring(0,16) %>">
            <label for="timeOut" class="toLabelThing"> to </label> <input type="datetime-local" name="timeOut" id="timeOut" value="<%= new Date(parseInt(session.originalTimecardData.timeOut) - (4 * 1000 * 60 * 60)).toISOString('en-US').substring(0,16) %>">
            <br><br>
            <input type="submit" value="Edit Timecard" class="greenBG">
        </form>
    </form>
</div>

<div id="popupTimecard" class="popup">
    <div id="popupContent" class="popupContent">
        <h3 id="newEventName"></h3>
        <p><span id="newUserInfo"></span></p>
        <var id="editTimecardId" style="display: none;"></var>
        <p>Start Time: <span id="newTimeStart"></span></p>
        <p>End Time: <span id="newTimeEnd"></span></p>
        <div>
            <button class="redBG" onclick="hidePopup('#popupTimecard')">Cancel</button>
            <button class="greenBG" onclick="editTheTimecard()">Edit Timecard</button>
        </div>
    </div>
</div>

<%- include ('./../../partials/footer') %>
