<%- include ('./../../partials/staffHeader') %>

<div class="fullScreen" id="eventList">
    <h1>View Scheduled Events</h1>
    <hr>
    <input type='text' id="eventSearchBox" oninput="eventSearch()" placeholder='Search By Name'>
    <button class='greenBG'>Search</button>
    <%
        message = [];
        events.forEach(event => {
            if (event.startTime.length >= 1) {
                message.push(
                    {
                        id: event.id,
                        name: event.name,
                        location: event.location,
                        description: event.description,
                        startTime: event.startTime,
                        endTime: event.endTime
                    }
                );
            }
        });
    %>

    <% for( let i = 0; i < message.length; i++ ) { %>
        <div class="anEvent">
            <h4><span><%= message[i].name %></span> <span><%= message[i].location %> </span></h4>
            <% var startTime = new Date(message[i].startTime); %>
            <% var endTime = new Date(message[i].endTime); %>
            <% var formattedStartTime = startTime.toLocaleString('en-US'); %>
            <% var formattedEndTime = endTime.toLocaleString('en-US'); %>
            <% if (startTime.getDate() == endTime.getDate()
                    && startTime.getMonth() == endTime.getMonth()
                    && startTime.getFullYear() == endTime.getFullYear()) { %>
                <% var spaceIndex = formattedEndTime.indexOf(' '); %>
                <p><span><%= formattedStartTime %></span> - <span><%= formattedEndTime.substring(spaceIndex) %> </span></p>
            <% } else { %>
                <p><span><%= formattedStartTime %></span> - <span><%= formattedEndTime %> </span></p>
            <% } %>
            <p><%= message[i].description %> </p>

            <% if ((session.userPermission == "upStaff") || (session.userPermission == "sysOverseer")) { %>
              <button class="editEvent" onclick="selectScheduledEventToEdit('<%= message[i].id %>')">Edit Event</button>
              <button class="deleteEvent" onclick="selectEventToDelete('#popupDeleteEvent', '<%= message[i].id %>')">Delete Event</button>
            <% } %>
        </div>
    <% } %>
    <p hidden id="eventIDToDelete"></p>

</div>

<div id="popupDeleteEvent" class="popup">
    <div id="popupContent" class="popupContent">
        <h5 id="eventNameToDelete"></h5>
        <p> Are you sure you wish to delete this event? </p>
        <br>
        <div>
            <button class="greenBG" onclick="hidePopup('#popupDeleteEvent')">Cancel</button>
            <button class="redBG" onclick="editTheScheduledEvent('delete')">Delete Event</button>
        </div>
    </div>
</div>

<%- include ('./../../partials/footer') %>
